---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus-config
  namespace: monitoring
data:
  config.yaml: |
    metrics: true
    storage:
      type: sqlite
      path: "/data/gatus.db"

    endpoints:
      - name: "xetera.dev"
        group: projects
        url: "https://xetera.dev"
        interval: 30m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: "placewaifu.com"
        group: projects
        url: "https://placewaifu.com"
        interval: 30m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: "me.xetera.dev"
        group: projects
        url: "https://me.xetera.dev/health"
        interval: 30m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: "plex"
        group: projects
        url: "https://plex.xetera.dev"
        ui:
          hide-hostname: true
        interval: 5m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 401"

      # k8s services
      - name: loki
        group: k8s
        url: "http://loki.monitoring.svc.cluster.local:3100/ready"
        interval: 5m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: prometheus
        group: k8s
        url: "http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090/-/healthy"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: grafana
        group: k8s
        url: "http://kube-prometheus-stack-grafana.monitoring.svc.cluster.local/ready"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: otel-collector
        group: k8s
        url: "http://signoz-otel-collector.monitoring.svc.cluster.local:13133"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: signoz
        group: k8s
        url: "http://signoz.monitoring.svc.cluster.local/api/v1/health"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: postgres
        group: k8s
        url: "tcp://postgres-r.cnpg-system.svc.cluster.local:5432"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[CONNECTED] == true"
      - name: umami
        group: k8s
        url: "http://umami.analytics.svc.cluster.local:3000/api/heartbeat"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: traefik
        group: k8s
        url: "http://traefik.ingress.svc.cluster.local/ping"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: tempo
        group: k8s
        url: "http://tempo.monitoring.svc.cluster.local:3200/ready"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: tls-client-api
        group: k8s
        url: "http://tls-client-api.default.svc.cluster.local:8081/health"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
      - name: amnezia
        group: k8s
        url: "http://amnezia-wg-easy.vpn.svc.cluster.local:8080"
        interval: 1m
        timeout: 10s
        method: GET
        conditions:
          - "[STATUS] == 200"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gatus-pvc
  namespace: monitoring
spec:
  resources:
    requests:
      storage: 10Gi
  accessModes:
    - ReadWriteOnce
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gatus
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: gatus
  template:
    metadata:
      labels:
        app: gatus
    spec:
      containers:
        - name: gatus
          image: twinproduction/gatus
          resources:
            limits:
              memory: "128Mi"
              cpu: "50m"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: gatus-pvc
              mountPath: /data
            - name: gatus-config
              mountPath: /config
      volumes:
        - name: gatus-pvc
          persistentVolumeClaim:
            claimName: gatus-pvc
        - name: gatus-config
          configMap:
            name: gatus-config
---
apiVersion: v1
kind: Service
metadata:
  name: gatus
  namespace: monitoring
spec:
  selector:
    app: gatus
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: gatus
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`status.xetera.dev`)
      priority: 10
      services:
        - name: gatus
          port: 8080
      middlewares:
        - name: ingress-cloudflare-only@kubernetescrd
  tls:
    options:
      name: ingress-cloudflare-mtls@kubernetescrd
    secretName: cloudflare-origin-xetera-dev
